{% extends '::dashboard.html.twig' %}

{% block title %}{{ parent() }} - {{ 'Resutado de la Búsqueda' | trans  }}{% endblock %}
{% block plugins_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}"/>
{% endblock %}

{% block level_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/dashboard/view.js') }}"></script>
{% endblock %}
{% block init_javascript %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            View.init();
        });
    </script>
{% endblock %}
{% block page_title %}{{ 'Busqueda Trivago' | trans }} <small>{{ 'ver información' | trans }}</small>{% endblock %}
{% block breadcrumb_list %}
    {{ parent() }}
    <li>
        <i class="icon-group"></i>
        <a href="">{{ 'Médico' | trans }}</a>
        <span class="icon-angle-right"></span>
    </li>
    <li>
        <i class="icon-file"></i>
        {{ 'Ver información' | trans }}
    </li>
{% endblock %}

{% block level_content %}
    <form action="{{ path('dashboard_trivago_busqueda')  }}" method="post">
    <div class="form-horizontal form-view">
        <label for="" class="control-label bold">
            {{ "URL Trivago" }}
        </label>
        <div class="controls">
            <input type="text" id="url" name="url" placeholder="Url de la campaña" class="input-xxlarge">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>
    </form>
    {% if app.request.method == 'POST' %}
    <div class="portlet box blue view-container" id="view-usuario">
        <div class="portlet-title">
            <div class="caption"><i class="icon-group"></i> {{ resultados['hotel'] }} </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
            <div class="actions">
                <a class="btn blue table-actions-new block-portlet" href="">
                    <i class="icon-list"></i> <span class="hidden-phone">{{ 'Regresar al listado' | trans }}</span>
                </a>                
                <a class="btn blue table-actions-new view-btn-delete-object ajax-btn" href="">
                    <i class="icon-trash"></i> <span class="hidden-phone">{{ 'Eliminar' | trans }}</span>
                </a>                
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-horizontal form-view">
                <h3 class="hidden-phone"> {{ intervalos['hotel'] }} </h3>
                <!--BEGIN TABS-->
                <div class="tabbable tabbable-custom">
                    {% for 1 in intervalos%}
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tib" data-toggle="tab"><i class="icon-info-sign"></i> <span class="hidden-480">{{ 'Información básica' | trans }}</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tib">
                                <h4 class="form-section visible-phone hidden-tablet hidden-desktop">{{ 'Información básica' | trans }}</h4>
                                <div class="row-fluid">
                                    <div class="span6 ">
                                        {% for resultado in intervalos['otros'] %}
                                            <div class="control-group">
                                                <label for="" class="control-label bold">
                                                    {{ resultado['nombre'] }}
                                                </label>
                                                <div class="controls">
                                                    <span class="text">{{ resultado['precio'] > 0 ? resultado['precio'] : '0 €' }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!--/span-->
                                    <div class="span6 ">                                                                       
                                        <div class="control-group">
                                            <label for="" class="control-label bold">
                                                {{ 'Mejor Resultado:' | trans }}
                                            </label>
                                            <div class="controls">
                                                <div class="text">
                                                    <div class="thumbnail" style="width: 200px; height: 150px;">
                                                        {% for mejor in resultados['mejor'] %}
                                                        <label for="" class="control-label bold">
                                                            {{ mejor  }}
                                                        </label>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--END TABS-->
                <div class="form-actions">
                    <a href="" class="btn purple-stripe block-portlet"><i class="icon-ambulance"></i> <span class="hidden-phone">{{ 'Ver turnos del médico' | trans }}</span></a>                    
                    <a href="" class="btn purple-stripe block-portlet"><i class="icon-list"></i> <span class="hidden-phone">{{ 'Regresar al listado' | trans }}</span></a>

                    <a href="" class="btn red-stripe view-btn-delete-object ajax-btn"><i class="icon-trash"></i> <span class="hidden-phone">{{ 'Eliminar' | trans }}</span></a>

                </div>
            </div>
            <!-- END FORM-->
        </div>
    </div>    
    {% endif %}
    <div class="confirm_delete hide" title="{{ 'Confirmación' | trans }}" data-for="view-usuario">
        <p><span class="icon icon-warning-sign"></span>
            {{ 'Está a punto de eliminar este elemento. Se perderán todos sus datos.' | trans }}
            <br/>
            {{ '¿Desea continuar?' | trans }}
        </p>
    </div>    
{% endblock %}